<nav class="navbar bg-success p-3 justify-content-end">
  <div class="row justify-content-end">
    <div class="col">
      <button type="button" class="btn btn-primary">Contact Us</button>
    </div>
  </div>
</nav>
<div class="row bg-success pb-5">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-4">
        <a href="/" class="navbar-brand">
          <img
            src="/imgs/AM-Cleanup_Logo-Light.png"
            class="img-fluid"
            id="dmpy"
            srcset=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
