<nav class="navbar bg-secondary p-3">
  <div class="container-fluid">
    <div>
      <span class="navbar-brand m-0 h1">American Cleanup</span>
      <img src="/imgs/dmpy.png" class="img-fluid" id="dmpy" />
    </div>
    <button type="button" class="btn btn-primary">Contact Us</button>
  </div>
</nav>
