<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/main.min.css" />
    <link rel="stylesheet" href="/CSS/custom.css" />
    <title>AM-Cleanup</title>
  </head>
  <body class="bg-primary d-flex flex-column min-vh-100">
    <%- include('../partials/navbar') %> <%- body %> <%-
    include('../partials/footer') %>
    <script
      src="https://kit.fontawesome.com/884b55a407.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
