<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/main.min.css" />
    <title>AM-Cleanup</title>
  </head>
  <body class="bg-primary">
    <%- include('../partials/navbar') %> <%- body %> <%-
    include('../partials/footer') %>
  </body>
</html>
